</div>
</div>

<script>
    var userId = '<%= user._id%>'
    var username = '<%= user.name %>'
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/big.js/6.2.1/big.min.js"
    integrity="sha512-Qtgkv9WCaEgwA/mKJ4yEmjAF7Z5LzRiqo22iwCTCw1JSh/jXz69X465RugJb3/cmyS/V+9Jegfp376vi0SbkKQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!-- <script src="https://cdn.jsdelivr.net/npm/big.js@5.2.2/big.js"></script> -->
<script type="module" src="js/socket.js"></script>

<script src="js/popper.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/main.js"></script>

</body>

</html>