</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/aes.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"
    integrity="sha512-E8QSvWZ0eCLGk4km3hxSsNmGWbLtSCSUcewDQPQWZF6pEU8GlT8a5fF32wOl1i8ftdMhssTrF/OhyGWwonTcXA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.2/socket.io.js"
    integrity="sha512-VJ6+sp2E5rFQk05caiXXzQd1wBABpjEj1r5kMiLmGAAgwPItw1YpqsCCBtq8Yr1x6C49/mTpRdXtq8O2RcZhlQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>
    var userId = '<%= user._id%>'
    var username = '<%= user.name %>'
    var userimage = '<%= user.image %>'
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/big.js/6.2.1/big.min.js"
    integrity="sha512-Qtgkv9WCaEgwA/mKJ4yEmjAF7Z5LzRiqo22iwCTCw1JSh/jXz69X465RugJb3/cmyS/V+9Jegfp376vi0SbkKQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script type="module" src="js/socket.js"></script>

</body>

</html>